volumes:
  postgres-data:

services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      DATABASE_URI: postgres://postgres:changeme@db:5432/gofermart
      RUN_ADDRESS: :8080
      SECRET_KEY: topsecret

  db:
    image: postgres:15.3-alpine3.18
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: gophermart
